/data/*/**/*.csv
*.txt
datasets_description/CZI_obsAggregated.csv
datasets_description/obsAggregated.csv
datasets_description/allMetafields.csv
datasets_description/CZI_obsAggregated_1.csv
datasets_description/Fly_obsAggregated.csv
*.RData
*.Rhistory
*.ipynb
.idea/
*.zarr
*.log
*.Rout
*.h5
*.mtx
*.tsv
*.loom
*.annoy
*.gzip
*.mtx
*.tar
*.zip
*.tar
*.gz
*.h5seurat
*.h5Seurat
*.H5Seurat
*.feather
*.RDS
*.Rds
*.rds
*.Rds
*.h5ad
*.DS_Store
*.Rhistory
*.RData
*.ipynb_checkpoints
